<!-- views/birds/new.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Add a bird</title>
</head>
<body>
    <h1>Add a bird to the database</h1>
    <form action="/birds" method='POST'>
        <fieldset>
            <legend>Enter info:</legend>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>
        
            <div>
                <label for="family">Family:</label>
                <select id="family" name="family" required>
                    <option value="dropdown" selected></option>
                    <option value="waterfowl">Waterfowl</option>
                    <option value="shorebirds">Shorebirds</option>
                    <option value="herons">Herons</option>
                    <option value="birds-of-prey">Birds of Prey</option>
                    <option value="woodpeckers">Woodpeckers</option>
                    <option value="songbirds">Songbirds</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div>
                <!-- figure out ids here -->
                <label for="description">Description:</label>
                <textarea name="description" id="description" maxLength='100' required></textarea>
            </div>

            <div>
                <label for="image">Upload an image:</label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            
            <button type="submit" id="button" style="vertical-align:middle">Submit</button>
        </fieldset>
    </form>

    <a href="/birds">Return to index</a>
</body>
</html>