<!-- views/birds/new.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Add a bird</title>
</head>

<body>

    <div class="container">
        <img class="owl" src="/images/owl.png"
            alt="A line drawing of a owl in bright blue and teal. Created by Icongeek26.">
        <h1>add a bird</h1>
    </div>

    <a class="birds-index-link" href="/">
        <div class="index-link-text">Return Home</div>
    </a>
    <a class="birds-index-link" href="/birds">
        <div class="index-link-text">Browse Birds</div>
    </a>


    <form action="/birds" method='POST'>
        <fieldset>
            <legend>Enter info:</legend>
            <div id="fieldset-div">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>

            <div id="fieldset-div">
                <label for="family">Family:</label>
                <select id="family" name="family" required>
                    <option value="dropdown" selected></option>
                    <option value="Waterfowl">Waterfowl</option>
                    <option value="Shorebirds">Shorebirds</option>
                    <option value="Herons">Herons</option>
                    <option value="Birds of Prey">Birds of Prey</option>
                    <option value="Woodpeckers">Woodpeckers</option>
                    <option value="Songbirds">Songbirds</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div id="fieldset-div">
                <!-- figure out ids here -->
                <label for="description">Description:</label>
                <textarea name="description" id="description" maxLength='00' required></textarea>
            </div>

            <button type="submit" id="button" style="vertical-align:middle">Submit</button>
        </fieldset>
    </form>


</body>

<footer>
    Icons by <a href="https://www.flaticon.com/free-icons/heron">Icongeek26</a>
</footer>

</html>