<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Birds App</title>
</head>

<body>
    <div class="container">
        <img class="heron" src="/images/heron.png"
            alt="A line drawing of a heron in bright blue and teal. Created by Icongeek26.">
        <h1>bir(data)</h1>
    </div>

    <p>An app for collecting your favorite birds.</p>
    <a class="birds-index-link" href="/birds">
        <div class="index-link-text">Browse Birds</div>
    </a>

</body>

<footer>
    Icons by <a href="https://www.flaticon.com/free-icons/heron">Icongeek26</a>
</footer>


</html>